.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
}

.arrow-head {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid red;
  height: 0;
  width: 0;
}

.arrow-body {
  border-top: 50px solid red;
  height: 0;
  width: 100px;
}
